*.class
*.log

hs_err_pid*

target/
.idea
.bsp
.bloop
.metals
.vscode
project/metals.sbt

vuepress/node_modules/*
*.lock
vuepress/package-lock.json

package-lock.json
node_modules/
.DS_Store
project/project/metals.sbt
.cursor/mcp.json
vitepress/docs/.vitepress/cache
.claude
